/* Blog UI */

h1 {
    color: var(--color-theme-1);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
h2 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
p {
    color: var(--color-text-1);
    line-height: 1.5rem;
}



#images {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

#images img {
    max-width: 100%;
    max-height: 30rem;
    margin-bottom: 1rem;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    #images {
        flex-direction: column;
        gap: 0;
    }
    #images img {
        max-height: none;
    }
}