@font-face {
   font-family: DDIN;
    src: url("D-DIN.woff2") format('woff2');
}


body {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;

}

img {
    width: 8rem;
    padding: 0;
    margin: 0;

}
div {
    background: white;
    height: 2px;
    width: 100%;
    margin: 2rem;
}
h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-family: DDIN;
    word-spacing: 10px;
}